.about_main {
  margin: 0px 150px;
  @media only screen and (max-width: 900px) {
    margin: 0px 50px;
  }
  h1 {
    font-family: "Proxima Nova";
    font-size: 60px;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    color: #000000;
    position: relative;
    margin-bottom: 40px;
  }
  h1:before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 140px;
    height: 2px;
    background-color: black;
    content: "";
  }
  p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
  }
}
.client_quotes {
  margin: 80px 150px;
  @media only screen and (max-width: 900px) {
    margin: 80px 50px;
  }
  h2 {
    font-family: "Proxima Nova";
    font-size: 40px;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    color: #000000;
    position: relative;
    margin-bottom: 40px;
  }
  h2:before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 140px;
    height: 2px;
    background-color: black;
    content: "";
  }
  .quotes {
    width: 70%;
    @media (max-width: 1100px) {
      width: 90%;
    }

    @media (max-width: 1000px) {
      width: 100%;
    }
    .client_q {
      display: flex;
      @media (max-width: 700px) {
        flex-direction: column;
      }
      margin-bottom: 35px;
      img {
        flex: 1;
        object-fit: cover;
        @media (min-width:700px){
            max-width: 200px;
        }
      }
      .text {
        flex: 2;
        padding: 0px 20px;
        @media (max-width: 700px) {
            padding: 10px 0px;

        }
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
        text-align: left;
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .client_name {
          font-family: "Proxima Nova";
          font-size: 20px;
          font-weight: 100;
          font-style: normal;
          text-align: right;
          color: #79addc;
        }
      }
    }
  }
}
