.booking_section {
  display: flex;
  margin: 0vh 180px;
  justify-content: center;
  flex-direction: column;
  @media (min-width: 1400px) {
    margin: 0vh 300px;
  }
  @media (min-width: 1600px) {
    margin: 0vh 400px;
  }

  @media (max-width: 700px) {
    margin: 0vh 50px;
  }
  h2 {
    font-size: 60px;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    color: #000000;
    font-family: Proxima Nova;
  }
  form {
    .f_n {
      padding: 20px;
      border-color: #79addc;
      border-width: 1px;
      border-style: solid;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      text-align: left;
      color: #000000;
      width: 40%;
      margin: 10px 0px;
      margin-right: 1%;
      @media (max-width: 900px) {
        margin-left: 0px;
        margin: 10px 0px;
        width: 100%;
      }
    }
    .s_e {
      padding: 20px;
      border-color: #79addc;
      border-width: 1px;
      border-style: solid;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      text-align: left;
      color: #000000;
      margin: 10px 0px;
      width: 57%;
      margin-left: 1%;
      @media (max-width: 900px) {
        margin-left: 0px;
        margin: 10px 0px;
        width: 100%;
      }
    }
    .d-flex {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 900px) {
        flex-direction: column;
      }
      .check_in_label {
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        text-align: left;
        color: #000000;
        width: 15%;
        @media (max-width: 900px) {
          width: 100%;
        }
      }
      .check_in {
        padding: 20px;
        border-color: #79addc;
        border-width: 1px;
        border-style: solid;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        text-align: left;
        color: #000000;
        margin: 10px 0px;
        width: 85%;
        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }

    .passenger {
      display: flex;
      @media (max-width: 900px) {
        flex-direction: column;
      }
      .adult_div {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        .adult {
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          text-align: left;
          margin-right: 64px;
          color: #000000;
          flex: 1;
          @media (max-width: 900px) {
            margin-right: 0px;
          }
        }
        .adult_select {
          padding: 20px;
          border-color: #79addc;
          border-width: 1px;
          border-style: solid;
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          text-align: left;
          color: #000000;
          margin: 10px 0px;
          flex: 1;
        }
      }
      .adult_div3 {
        padding-left: 40px;
        @media (max-width: 900px) {
          padding-left: 0px;
        }
      }
      .adult_div1 {
        padding-right: 40px;
        @media (max-width: 900px) {
          padding-right: 0px;
        }
      }
      .adult_div2 {
        padding: 0px 40px;
        @media (max-width: 900px) {
          padding: 0px;
        }
      }
    }

    .message {
      padding: 20px;
      border-color: #79addc;
      border-width: 1px;
      border-style: solid;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      text-align: left;
      color: #000000;
      margin: 10px 0px;
      width: 100%;
    }

    .btn_submit {
      border-radius: 30px;
      width: 100%;
      padding: 21px 0px;
      margin-top: 10px;
      border: none;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      color: #ffffff;
      background: #79addc;
    }
  }
}
